[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
flask = "*"
flask-wtf = {extras = ["email"], version = "*"}
flask-sqlalchemy = "*"
flask-migrate = "*"
flask-login = "*"
werkzeug = "*"
email-validator = "*"

[requires]
python_version = "3.8"
