@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono&display=swap');
 *{
    font-family: 'Roboto Mono', monospace;
 }

 #accordionExample, #addForm, .alert-success, #editForm{
    width: 60%;
 }

 #td-h:hover{
    text-decoration: none !important;
 }
 #td-h:focus{
    text-decoration: none !important;
 }