{% extends "base.html" %}
{% block content %}
<div class="jumbotron my-2 text-center">
    <h1>WELCOME TO FLASK LIST</h1>
    <P>This project was built by JAX as part of practise for building web apps using flask</P>
    {% if current_user.is_authenticated %}
    <a href="/add" class="btn btn-primary btn-sm">Add Todos</a>
    <a href="/list/{{ current_user.id }}" class="btn btn-success btn-sm">View Todos</a>
    {% else %}
    <a href="/add" class="btn btn-primary btn-sm">Add Todos</a>
    {% endif %}

</div>
{% endblock %}