{% extends "base.html" %}
{% block content %}
{% if todo_list |length >= 1 %}
  {% include 'includes/search.html' %}
  <div class="text-center my-2">
  {% for todo in todo_list %}
    {% if current_user.id == todo['author'] %}

      <div class="accordion my-2" id="accordionExample">

          <div class="card my-2">
            <div class="card-header" id="headingOne">
              <h2 class="mb-0">
                <button id="td-h" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ todo['id'] }}" aria-expanded="true" aria-controls="collapse{{ todo['id'] }}">
                  <h4 style="text-align: center;">{{ todo['title'] }} <small class="text-muted" style="font-size: 15px;"> | created on: {{ todo['post_date'].strftime("%c") }}</small></h4><hr>
                  <button class="btn btn-dark btn-sm" id="cpl-btn">Mark as complete</button>
                  <a href="/todo/{{ todo['id'] }}/edit" class="btn btn-primary btn-sm">Edit</a>
                  {% include 'includes/modal.html' %}
                </button>
              </h2>
            </div>
        <!--collapseOne-->
            <div id="collapse{{ todo['id'] }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
              <div class="card-body">
                <h5>{{ todo['description'] }}</h5><br>
              </div>
            </div>
          </div>

        </div>

    {% endif %}
  {% endfor %}
{% else %}
  {% include 'includes/none.html' %}
  </div>
{% endif %}

{% endblock %}