{% extends "base.html" %}
{% block content %}
    <h1 class="my-2">Sign up</h1>
    <hr>
<form method="POST" id="loginForm" class="my-2">
    {{ form.hidden_tag() }}
  <div class="form-group">
    <label for="exampleInputEmail1">{{ form.email.label }}</label>
    {{ form.email(class="form-control") }}
  </div>
    <div class="form-group">
    <label for="exampleInputEmail1">{{ form.username.label }}</label>
    {{ form.username(class="form-control") }}
  </div>
  <div class="form-group">
    <label for="exampleInputEmail1">{{ form.password.label }}</label>
    {{ form.password(class="form-control") }}
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">{{ form.pass_conf.label }}</label>
    {{ form.pass_conf(class="form-control") }}
  </div>
    {{ form.submit(class="btn btn-primary") }}
</form>
{% endblock %}