{% extends "base.html" %}
{% block content %}
<h1>Todos</h1>
<hr>
{% include 'includes/flash.html' %}
{% if todo_list |length >= 1 %}
{% for todo in todo_list %}
<div class="accordion my-2" id="accordionExample">

  <div class="card my-2">
    <div class="card-header" id="headingOne">
      <h2 class="mb-0">
        <button id="td-h" class="btn btn-link btn-block text-left" type="button" data-toggle="collapse" data-target="#collapse{{ todo['id'] }}" aria-expanded="true" aria-controls="collapse{{ todo['id'] }}">
          <h4 id="task-t{{ todo['id'] }}"><small>Task Title: </small> {{ todo['title'] }} </h4><hr>
          <button class="btn btn-dark btn-sm" id="cpl-btn-{{ todo['id'] }}">Mark as complete</button>
          <a href="/edit/{{ todo['id'] }}" class="btn btn-primary btn-sm">Edit</a>
          {% include 'includes/modal.html' %}
        </button>
      </h2>
    </div>
<!--collapseOne-->
    <div id="collapse{{ todo['id'] }}" class="collapse" aria-labelledby="headingOne" data-parent="#accordionExample">
      <div class="card-body">
        <h5>Description:</h5><hr>
          <p>{{ todo['description'] }}</p><br>
        <h5>Date created:</h5><hr>
        <p>{{ todo['post_date'].strftime("%c") }}</p><br>
        <h5>Last edited:</h5><hr>
        <p>{{ todo['last_edited'].strftime("%c") }}</p>
      </div>
    </div>
  </div>

</div>
{% endfor %}
  <a href="{{ url_for('add') }}" class="btn btn-primary my-2">Add Todos</a>
{% else %}
{% include 'includes/none.html' %}
{% endif %}
{% endblock %}